In [ ]:
print('meu codigo no jupyter!')

meu codigo no jupyter

In [1]:
import pandas as pd

tabela = pd.DataFrame(
    {
        'Nome' :['Ton', 'Beto','Max'],
        'Idade' :[ 41, 45, 3 ],
        'Cidade' :[ 'Fortaleza', 'São Paulo', 'Salvador' ]
    }
)   
display(tabela)

   Nome  Idade     Cidade
0   Ton     41  Fortaleza
1  Beto     45  São Paulo
2   Max      3   Salvador